/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #120816;
		--foreground: #fff;

		--primary-color: #421e56;
		--secondary-color: #211129;
		--tertiary-color: #bc6083;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: 4.275rem;
	}

	body {
		color: var(--foreground);
		background: var(--background);
	}

	@media (width > 640px) {
		html {
			scroll-padding-top: 5.875rem;
		}
	}
}
